*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(226, 235, 240, 0.888);
    
    
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Send the video behind other content */
}

video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;

}

.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
     width: 440px;
    height: 440px; 
     padding: 30px; 
    box-shadow:#654848;
    border: 2px solid #6a6161;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.login-header{
    text-align: center;
    margin:20px 0 40px 0;

}
.login-header header{
    color: #191a18;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size:17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px 1px rgba(216, 214, 214, 0.05);
    outline: none;
    transition: .3s;

}
.input-field:hover{
    background: rgb(202, 233, 140);
    border-radius: 30px;
}
::placeholder{
    font-weight: 500;
    color: #222;


}

input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #f5ec46;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    background: transparent;
}
section a{
    color: #e4db56;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 400px;
    height: 80px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
  background: rgb(28, 160, 76);
  transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    color: #e7db39;
}
.sign-up-link a{
    color: #4db133;
    font-weight: 600;
}

